page-service-details {
  .splash-logo {
    margin: auto;
    background: url('../assets/imgs/elec1.png') repeat transparent;
    background-size: 100%;
    width: 50px;
    height: 50px;
  }
  ion-spinner * {
    width: 28px;
    height: 28px;
    stroke: #444;
    fill: #2fa29c;
  }
}
