// http://ionicframework.com/docs/theming/
.profile{
  position: relative;
  height: 200px;
}
.profile-image{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.profile-image img{
  height: 90%;
  width: 90%;
  object-fit: cover;
  border-radius: 50%;
}
.profile-image p{
  text-align:center ;
  font-size:0.7cm!important ;
  color:#fff ;
}
.newColor{
  background-color: #2fa29c!important;
}
.newbutton {
  margin: 0;
  padding: 5px;
  width: 100%;
  
  background-color: transparent!important;
  :hover{
    background-color: #278a85!important;
    
  }
  p{
    color: #fff!important;
    padding-left: 10px;
    font-size: 0.4cm;
    :hover {
      font-weight: bold!important;
    }
  }
}
